<div class="link-container">
    <div class="panel panel-default link-panel">
        <div class="panel-heading">
            {{profile-img owner=owner}}
        </div>
        <div class="panel-body">
                <div class="media">
                    <img class="media-object pull-left" {{bind-attr src=img_url}} style="width: 124px;">
                    <div class="media-body">
                        <a {{bind-attr href=url}} target="_blank">
                            <h4 class="media-body">{{title}}</h4>
                        </a>
                        <span class="link-description">{{description}}</span>
                    </div>
                </div>
                <button class="btn btn-default btn-sm comments-btn" data-toggle="collapse" {{action 'toggleComments'}}>comments</button>
        </div>
        <div {{bind-attr class=":panel-footer hidingComments:hide"}}>
            {{render 'comments' comments}}
        </div>
    </div>
</div>