<div class="row">
    <div class="col-sm-3">
        <img class="profile-img" alt="profile image" {{bind-attr src=profile_img}}>
    </div>
    <div class="col-sm-9">
        <div class="row profile-row">
            <div class="col-sm-3 profile-header">Username: </div>
            <div class="col-sm-9">{{username}}</div>
        </div>
        <div class="row profile-row">
            <div class="col-sm-3 profile-header">Name: </div>
            <div class="col-sm-9">{{fullName}}</div>
        </div>
        {{#if isCurrentUser}}
            <div class="row profile-row">
                <div class="col-sm-3 profile-header">Email: </div>
                <div class="col-sm-9">{{email}}</div>
            </div>
            <div class="row profile-row">
                <div class="col-sm-3 profile-header">Ad Level: </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-1"><span id="lessAdsIndicator">$</span></div>
                        <div id="adLevelSlider" class="slider col-xs-6" style="margin-top: .3em;"></div>
                        <div class="col-xs-5"><span id="moreAdsIndicator">$$$</span></div>
                        {{input type="hidden" value=ad_level id="adLevelInput"}}
                    </div>
                </div>
            </div>
            <div class="row profile-row">
                <div class="col-sm-3 profile-header">Anonymous: </div>
                <div class="col-sm-6">
                    {{input type="checkbox" checked=anonymous class="checkbox"}}
                </div>
            </div>
        {{/if}}
    </div>
</div>

<br/>
<h3>My Links: </h3>
{{links-container links=sortedLinks store=controller.store}}