<div class="row">
    <div class="col-sm-3">
        <img class="profile-img" alt="profile image" {{bind-attr src=profile_img}}>
    </div>
    <div class="col-sm-9">
        <div class="display-table">
            <div class="profile-row">
                <div class="profile-header">Username: </div>
                <div class="profile-body">{{username}}</div>
            </div>
            <div class="profile-row">
                <div class="profile-header">Name: </div>
                <div class="profile-body">{{fullName}}</div>
            </div>
            {{#if isCurrentUser}}
                <div class="profile-row">
                    <div class="profile-header">Email: </div>
                    <div class="profile-body">{{email}}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-header">Ad Level: </div>
                    <div class="profile-body">
                        <div class="ad-indicator ad-indicator-less">$</div>
                        {{jqui-slider value=ad_level min=0 max=100 class='ad-level-slider'}}
                        <div class="ad-indicator ad-indicator-more">$$$</div>
                    </div>
                </div>
                <div class="profile-row">
                    <div class="profile-header">Anonymous: </div>
                    <div class="profile-body">
                        {{input type="checkbox" checked=anonymous class="checkbox"}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>

<br/>
<h3>My Links: </h3>
{{render 'links' sortedLinks}}